<%= form_for(@hour) do |f| %>
  <% if @hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hour.errors.count, "error") %> prohibited this hour from being saved:</h2>

      <ul>
      <% @hour.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<table>
	<tr>
    <td><%= f.label :work_date %> </td>   <td><%= f.label :work_hours %></td>
    </tr>
    <tr>
    <td><%= f.date_select :work_date %></td> <td><%= f.text_field :work_hours %></td>
    </tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
