<center>
<h4>Hours Worked Listing</h4>

<table>
  <tr>
    <th>Work date</th>
    <th>Work hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hours.each do |hour| %>
  <tr>
    <td><%= hour.work_date %></td>
    <td><%= hour.work_hours %></td>
    <td><%= link_to 'Show', hour %></td>
    <td><%= link_to 'Edit', edit_hour_path(hour) %></td>
    <td><%= link_to 'Delete', hour, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'home', emp_home_path%> &nbsp &nbsp
<%= link_to 'New Hours entry', new_hour_path %>
</center>
