<div id="inner">
	
<div id="left">
		<div id="leftalign">
		Username: <%= cookies[:remember_token]%><br/>
		<%= link_to "Logout", logout_path%><br/>
		<%= link_to "Enter Hours", enter_hours_path %><br/>
		<%= link_to "Send Message", logout_path%><br/>
		<%= link_to "Run Reports", run_reports_path%><br/>
		<%= link_to "Change Password", logout_path%><br/>
	</div>	
	</div>
	
	<div id="right">
		<div id="rightalign">
			<br/>
			Messages<br/><br/>
			No Messages<br/>
			</div>
			</div>

			
	<div id = "center">
	Choose from the menu options on the left screen<br/> <br/>
</div>


<div id="core_center">
	This is the employee home page<br/><br/><br/><br/>
	</div>
</div>
</div>

	


